name: Build Releases

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always
  MACOSX_DEPLOYMENT_TARGET: "10.12"

jobs:
  release-macos:
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.93
        with:
          targets: ${{ matrix.target }}

      - name: Build ${{ matrix.target }}
        timeout-minutes: 60
        run: |
          bash build-macos-app.sh
          mv target/release/macos/cloudflare-admin.dmg target/release/macos/cloudflare-admin-${{ matrix.target }}.dmg

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/macos/cloudflare-admin-${{ matrix.target }}.dmg
